In [268]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use ("ggplot")
pd.set_option("display.max_columns", 300)

Import Data

In [269]:
df = pd.read_csv("/Users/sa18/Desktop/TicketMasterAPI/data/csv/US Raw Events.csv")

/var/folders/7d/lbg415rs1336xg8yjmf1h_3c0000gn/T/ipykernel_22742/99185598.py:1: DtypeWarning: Columns (2,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/sa18/Desktop/TicketMasterAPI/data/csv/US Raw Events.csv")

Data Understanding

In [270]:
# shape of the DataFrame (rows, columns)
df.shape

(100713, 77)

In [271]:
df.head()

,EVENT_ID,EVENT_NAME,EVENT_NOTES,EVENT_INFO,EVENT_STATUS,EVENT_START_DATETIME,EVENT_END_DATETIME,EVENT_START_LOCAL_DATE,EVENT_START_LOCAL_TIME,ONSALE_START_DATETIME,ONSALE_END_DATETIME,CLASSIFICATION_SEGMENT,CLASSIFICATION_GENRE,CLASSIFICATION_SUB_GENRE,EVENT_IMAGE_URL,MIN_PRICE,MAX_PRICE,CURRENCY,ATTRACTION_NAME,ATTRACTION_ID,ATTRACTION_IMAGE_URL,VENUE_NAME,VENUE_ID,VENUE_STREET,VENUE_CITY,VENUE_STATE_CODE,VENUE_COUNTRY_CODE,VENUE_LATITUDE,VENUE_LONGITUDE,VENUE_ZIP_CODE,VENUE_TIMEZONE,ATTRACTION_URL,VENUE_URL,PRIMARY_EVENT_URL,RESALE_EVENT_URL,PRESALE_NAME,PRESALE_DATETIME_RANGE,LEGACY_EVENT_ID,LEGACY_VENUE_ID,LEGACY_ATTRACTION_ID,PRESALE_NAME.1,PRESALE_DESCRIPTION,PRESALE_START_DATETIME,PRESALE_END_DATETIME,SOURCE,CLASSIFICATION_TYPE,CLASSIFICATION_SUB_TYPE,PROMOTER_ID,PROMOTER_NAME,CLASSIFICATION_SEGMENT_ID,CLASSIFICATION_GENRE_ID,CLASSIFICATION_SUB_GENRE_ID,CLASSIFICATION_TYPE_ID,CLASSIFICATION_SUB_TYPE_ID,ATTRACTION_CLASSIFICATION_SEGMENT_ID,ATTRACTION_CLASSIFICATION_SEGMENT,ATTRACTION_CLASSIFICATION_GENRE_ID,ATTRACTION_CLASSIFICATION_GENRE,ATTRACTION_CLASSIFICATION_SUB_GENRE_ID,ATTRACTION_CLASSIFICATION_SUB_GENRE,ATTRACTION_CLASSIFICATION_TYPE_ID,ATTRACTION_CLASSIFICATION_TYPE,ATTRACTION_CLASSIFICATION_SUB_TYPE_ID,ATTRACTION_CLASSIFICATION_SUB_TYPE,MIN_PRICE_WITH_FEES,MAX_PRICE_WITH_FEES,TRANSACTABLE,HOT_EVENT,ACCESSIBLE_SEATING_DETAIL,ADA_PHONE,ADA_CUSTOM_COPY,ADA_HOURS,ACCESSIBILITY_INFO,API_ONSALE_START_DATETIME,PLEASE_NOTE,IMPORTANT_INFORMATION,EVENT_END_LOCAL_DATE
0,rZ7HnEZ1AfF6aK,Tonight at the Improv!,NaN,DO NOT PURCHASE TICKETS FROM ANYONE OR ANY OTH...,onsale,2025-03-02T05:30:00Z,NaN,2025-03-01,21:30,2025-01-20T21:00:00Z,2025-03-02T06:00:00Z,Undefined,NaN,NaN,https://i.ticketweb.com/i/00/12/86/60/03_Edp.j...,29.34,29.34,USD,NaN,NaN,NaN,Hollywood Improv (The Main Room),rZ7HnEZ178sj4,8162 Melrose Avenue,Hollywood,CA,US,34.083418,-118.366556,90046,America/Los_Angeles,NaN,https://www.ticketweb.com/venue/hollywood-impr...,https://www.ticketweb.com/event/tonight-at-the...,NaN,NaN,NaN,rZ7HnEZ1AfF6aK,NaN,NaN,NaN,NaN,NaN,NaN,ticketweb,Undefined,Undefined,NaN,NaN,KZFzniwnSyZfZ7v7nl,NaN,NaN,KZAyXgnZfZ7v7nI,KZFzBErXgnZfZ7v7lJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,2025-01-20T22:00:00Z,This event is 21 and over. Any ticket holder u...,NaN,NaN
1,rZ7HnEZ1AfF6aN,Tonight at the Improv!,NaN,DO NOT PURCHASE TICKETS FROM ANYONE OR ANY OTH...,onsale,2025-03-09T05:30:00Z,NaN,2025-03-08,21:30,2025-01-20T21:00:00Z,2025-03-09T06:00:00Z,Undefined,NaN,NaN,https://i.ticketweb.com/i/00/12/86/60/03_Edp.j...,29.34,29.34,USD,NaN,NaN,NaN,Hollywood Improv (The Main Room),rZ7HnEZ178sj4,8162 Melrose Avenue,Hollywood,CA,US,34.083418,-118.366556,90046,America/Los_Angeles,NaN,https://www.ticketweb.com/venue/hollywood-impr...,https://www.ticketweb.com/event/tonight-at-the...,NaN,NaN,NaN,rZ7HnEZ1AfF6aN,NaN,NaN,NaN,NaN,NaN,NaN,ticketweb,Undefined,Undefined,NaN,NaN,KZFzniwnSyZfZ7v7nl,NaN,NaN,KZAyXgnZfZ7v7nI,KZFzBErXgnZfZ7v7lJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,2025-01-20T22:00:00Z,This event is 21 and over. Any ticket holder u...,NaN,NaN
2,1ApZkFMGkdiw0WO,Kneecap,NaN,"The Mercury Ballroom is an all-ages, standing ...",onsale,2025-10-04T00:00:00Z,NaN,2025-10-03,20:00,2025-01-31T15:00:00Z,2025-10-04T02:00:00Z,Music,Hip-Hop/Rap,French Rap,https://s1.ticketm.net/dam/a/933/7ddad2cb-140c...,24.50,39.50,USD,Kneecap,K8vZ917boF0,https://s1.ticketm.net/dam/a/933/7ddad2cb-140c...,Mercury Ballroom,KovZpZAEk7EA,611 S 4th Street,Louisville,KY,US,38.248514,-85.757890,40202,America/New_York,https://www.livenation.com/artist/K8vZ917boF0/...,https://www.ticketmaster.com/mercury-ballroom-...,https://concerts.livenation.com/kneecap-louisv...,NaN,NaN,NaN,16006237ECCA4F60,180996.0,2661733,Live Nation Presale|Ticketmaster Presale|Venue...,||||,2025-01-30T15:00:00Z|2025-01-30T15:00:00Z|2025...,2025-01-31T03:00:00Z|2025-01-31T03:00:00Z|2025...,ticketmaster,Undefined,Undefined,653,LIVE NATION MUSIC,KZFzniwnSyZfZ7v7nJ,KnvZfZ7vAv1,KZazBEonSMnZfZ7vaa1,KZAyXgnZfZ7v7nI,KZFzBErXgnZfZ7v7lJ,KZFzniwnSyZfZ7v7nJ,Music,KnvZfZ7vAv1,Hip-Hop/Rap,KZazBEonSMnZfZ7vkdA,Urban,KZAyXgnZfZ7v7l1,Group,KZFzBErXgnZfZ7vA71,Band,NaN,NaN,True,False,"For Handicapped Accessible seating, please cal...",NaN,NaN,NaN,NaN,2025-01-31T16:00:00Z,"The Mercury Ballroom is an all-ages, standing ...",NaN,NaN
3,rZ7HnEZ1AfF6aS,Tonight at the Improv!,NaN,DO NOT PURCHASE TICKETS FROM ANYONE OR ANY OTH...,onsale,2025-03-30T02:00:00Z,NaN,2025-03-29,19:00,2025-01-20T21:00:00Z,2025-03-30T02:30:00Z,Undefined,NaN,NaN,https://i.ticketweb.com/i/00/12/86/60/03_Edp.j...,29.34,29.34,USD,NaN,NaN,NaN,Hollywood Improv (The Main Room),rZ7HnEZ178sj4,8162 Melrose Avenue,Hollywood,CA,US,34.083418,-118.366556,90046,America/Los_Angeles,NaN,https://www.ticketweb.com/venue/hollywood-impr...,https://www.ticketweb.com/event/tonight-at-the...,NaN,NaN,NaN,rZ7HnEZ1AfF6aS,NaN,NaN,NaN,NaN,NaN,NaN,ticketweb,Undefined,Undefined,NaN,NaN,KZFzniwnSyZfZ7v7nl,NaN,NaN,KZAyXgnZfZ7v7nI,KZFzBErXgnZfZ7v7lJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,2025-01-20T22:00:00Z,This event is 21 and over. Any ticket holder u...,NaN,NaN
4,rZ7HnEZ1AfF6ad,Tonight at the Improv!,NaN,DO NOT PURCHASE TICKETS FROM ANYONE OR ANY OTH...,onsale,2025-03-08T06:15:00Z,NaN,2025-03-07,22:15,2025-01-20T21:00:00Z,2025-03-08T06:45:00Z,Undefined,NaN,NaN,https://i.ticketweb.com/i/00/12/86/60/13_Edp.j...,19.04,19.04,USD,NaN,NaN,NaN,Hollywood Improv (The Main Room),rZ7HnEZ178sj4,8162 Melrose Avenue,Hollywood,CA,US,34.083418,-118.366556,90046,America/Los_Angeles,NaN,https://www.ticketweb.com/venue/hollywood-impr...,https://www.ticketweb.com/event/tonight-at-the...,NaN,NaN,NaN,rZ7HnEZ1AfF6ad,NaN,NaN,NaN,NaN,NaN,NaN,ticketweb,Undefined,Undefined,NaN,NaN,KZFzniwnSyZfZ7v7nl,NaN,NaN,KZAyXgnZfZ7v7nI,KZFzBErXgnZfZ7v7lJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,2025-01-20T22:00:00Z,This event is 21 and over. Any ticket holder u...,NaN,NaN

In [272]:
# list the columns
df.columns

Index(['EVENT_ID', 'EVENT_NAME', 'EVENT_NOTES', 'EVENT_INFO', 'EVENT_STATUS',
       'EVENT_START_DATETIME', 'EVENT_END_DATETIME', 'EVENT_START_LOCAL_DATE',
       'EVENT_START_LOCAL_TIME', 'ONSALE_START_DATETIME',
       'ONSALE_END_DATETIME', 'CLASSIFICATION_SEGMENT', 'CLASSIFICATION_GENRE',
       'CLASSIFICATION_SUB_GENRE', 'EVENT_IMAGE_URL', 'MIN_PRICE', 'MAX_PRICE',
       'CURRENCY', 'ATTRACTION_NAME', 'ATTRACTION_ID', 'ATTRACTION_IMAGE_URL',
       'VENUE_NAME', 'VENUE_ID', 'VENUE_STREET', 'VENUE_CITY',
       'VENUE_STATE_CODE', 'VENUE_COUNTRY_CODE', 'VENUE_LATITUDE',
       'VENUE_LONGITUDE', 'VENUE_ZIP_CODE', 'VENUE_TIMEZONE', 'ATTRACTION_URL',
       'VENUE_URL', 'PRIMARY_EVENT_URL', 'RESALE_EVENT_URL', 'PRESALE_NAME',
       'PRESALE_DATETIME_RANGE', 'LEGACY_EVENT_ID', 'LEGACY_VENUE_ID',
       'LEGACY_ATTRACTION_ID', 'PRESALE_NAME.1', 'PRESALE_DESCRIPTION',
       'PRESALE_START_DATETIME', 'PRESALE_END_DATETIME', 'SOURCE',
       'CLASSIFICATION_TYPE', 'CLASSIFICATION_SUB_TYPE', 'PROMOTER_ID',
       'PROMOTER_NAME', 'CLASSIFICATION_SEGMENT_ID', 'CLASSIFICATION_GENRE_ID',
       'CLASSIFICATION_SUB_GENRE_ID', 'CLASSIFICATION_TYPE_ID',
       'CLASSIFICATION_SUB_TYPE_ID', 'ATTRACTION_CLASSIFICATION_SEGMENT_ID',
       'ATTRACTION_CLASSIFICATION_SEGMENT',
       'ATTRACTION_CLASSIFICATION_GENRE_ID', 'ATTRACTION_CLASSIFICATION_GENRE',
       'ATTRACTION_CLASSIFICATION_SUB_GENRE_ID',
       'ATTRACTION_CLASSIFICATION_SUB_GENRE',
       'ATTRACTION_CLASSIFICATION_TYPE_ID', 'ATTRACTION_CLASSIFICATION_TYPE',
       'ATTRACTION_CLASSIFICATION_SUB_TYPE_ID',
       'ATTRACTION_CLASSIFICATION_SUB_TYPE', 'MIN_PRICE_WITH_FEES',
       'MAX_PRICE_WITH_FEES', 'TRANSACTABLE', 'HOT_EVENT',
       'ACCESSIBLE_SEATING_DETAIL', 'ADA_PHONE', 'ADA_CUSTOM_COPY',
       'ADA_HOURS', 'ACCESSIBILITY_INFO', 'API_ONSALE_START_DATETIME',
       'PLEASE_NOTE', 'IMPORTANT_INFORMATION', 'EVENT_END_LOCAL_DATE'],
      dtype='object')

In [273]:
# list the data types
pd.set_option('display.max_rows', 300)

df.dtypes

EVENT_ID                                   object
EVENT_NAME                                 object
EVENT_NOTES                                object
EVENT_INFO                                 object
EVENT_STATUS                               object
EVENT_START_DATETIME                       object
EVENT_END_DATETIME                         object
EVENT_START_LOCAL_DATE                     object
EVENT_START_LOCAL_TIME                     object
ONSALE_START_DATETIME                      object
ONSALE_END_DATETIME                        object
CLASSIFICATION_SEGMENT                     object
CLASSIFICATION_GENRE                       object
CLASSIFICATION_SUB_GENRE                   object
EVENT_IMAGE_URL                            object
MIN_PRICE                                 float64
MAX_PRICE                                 float64
CURRENCY                                   object
ATTRACTION_NAME                            object
ATTRACTION_ID                              object
ATTRACTION_IMAGE_URL                       object
VENUE_NAME                                 object
VENUE_ID                                   object
VENUE_STREET                               object
VENUE_CITY                                 object
VENUE_STATE_CODE                           object
VENUE_COUNTRY_CODE                         object
VENUE_LATITUDE                            float64
VENUE_LONGITUDE                           float64
VENUE_ZIP_CODE                             object
VENUE_TIMEZONE                             object
ATTRACTION_URL                             object
VENUE_URL                                  object
PRIMARY_EVENT_URL                          object
RESALE_EVENT_URL                          float64
PRESALE_NAME                              float64
PRESALE_DATETIME_RANGE                    float64
LEGACY_EVENT_ID                            object
LEGACY_VENUE_ID                           float64
LEGACY_ATTRACTION_ID                       object
PRESALE_NAME.1                             object
PRESALE_DESCRIPTION                        object
PRESALE_START_DATETIME                     object
PRESALE_END_DATETIME                       object
SOURCE                                     object
CLASSIFICATION_TYPE                        object
CLASSIFICATION_SUB_TYPE                    object
PROMOTER_ID                                object
PROMOTER_NAME                              object
CLASSIFICATION_SEGMENT_ID                  object
CLASSIFICATION_GENRE_ID                    object
CLASSIFICATION_SUB_GENRE_ID                object
CLASSIFICATION_TYPE_ID                     object
CLASSIFICATION_SUB_TYPE_ID                 object
ATTRACTION_CLASSIFICATION_SEGMENT_ID       object
ATTRACTION_CLASSIFICATION_SEGMENT          object
ATTRACTION_CLASSIFICATION_GENRE_ID         object
ATTRACTION_CLASSIFICATION_GENRE            object
ATTRACTION_CLASSIFICATION_SUB_GENRE_ID     object
ATTRACTION_CLASSIFICATION_SUB_GENRE        object
ATTRACTION_CLASSIFICATION_TYPE_ID          object
ATTRACTION_CLASSIFICATION_TYPE             object
ATTRACTION_CLASSIFICATION_SUB_TYPE_ID      object
ATTRACTION_CLASSIFICATION_SUB_TYPE         object
MIN_PRICE_WITH_FEES                       float64
MAX_PRICE_WITH_FEES                       float64
TRANSACTABLE                               object
HOT_EVENT                                    bool
ACCESSIBLE_SEATING_DETAIL                  object
ADA_PHONE                                  object
ADA_CUSTOM_COPY                            object
ADA_HOURS                                  object
ACCESSIBILITY_INFO                         object
API_ONSALE_START_DATETIME                  object
PLEASE_NOTE                                object
IMPORTANT_INFORMATION                      object
EVENT_END_LOCAL_DATE                       object
dtype: object

In [274]:
# info and stats about data set
df.describe()

,MIN_PRICE,MAX_PRICE,VENUE_LATITUDE,VENUE_LONGITUDE,RESALE_EVENT_URL,PRESALE_NAME,PRESALE_DATETIME_RANGE,LEGACY_VENUE_ID,MIN_PRICE_WITH_FEES,MAX_PRICE_WITH_FEES
count,58248.000000,58248.000000,100651.000000,100651.000000,0.0,0.0,0.0,65411.000000,0.0,0.0
mean,44.227504,135.853050,37.600788,-94.584080,NaN,NaN,NaN,216949.320940,NaN,NaN
std,41.013562,405.705909,4.710309,18.985736,NaN,NaN,NaN,159047.572062,NaN,NaN
min,0.000000,0.000000,-87.713192,-159.371111,NaN,NaN,NaN,6.000000,NaN,NaN
25%,24.750000,35.250000,35.964436,-115.170811,NaN,NaN,NaN,57789.500000,NaN,NaN
50%,38.600000,75.000000,37.775500,-88.377197,NaN,NaN,NaN,189524.000000,NaN,NaN
75%,55.000000,127.000000,40.759977,-76.245201,NaN,NaN,NaN,376840.000000,NaN,NaN
max,3216.000000,21000.000000,63.588753,122.269633,NaN,NaN,NaN,491609.000000,NaN,NaN

Data Preparation

In [275]:
# filter to keep or toss columns, as needed. Comment out the unnecessary columns.
# reassign DataFrame to be the subsetted DataFrame with only the columns needed.
# add copy command at end to let Python know this is a new DataFrame, not a reference to the original.

df = df[['EVENT_ID', 'EVENT_NAME', 
       #'EVENT_NOTES', 'EVENT_INFO', 'EVENT_STATUS',
       #'EVENT_START_DATETIME', 'EVENT_END_DATETIME', 
       'EVENT_START_LOCAL_DATE',
       #'EVENT_START_LOCAL_TIME', 'ONSALE_START_DATETIME',
       #'ONSALE_END_DATETIME', 'CLASSIFICATION_SEGMENT', 'CLASSIFICATION_GENRE',
       #'CLASSIFICATION_SUB_GENRE', 'EVENT_IMAGE_URL', 'MIN_PRICE', 
       'MAX_PRICE',
       #'CURRENCY', 'ATTRACTION_NAME', 'ATTRACTION_ID', 'ATTRACTION_IMAGE_URL',
       'VENUE_NAME', 
       #'VENUE_ID', 'VENUE_STREET', 'VENUE_CITY',
       'VENUE_STATE_CODE']].copy()
       #, 'VENUE_COUNTRY_CODE', 'VENUE_LATITUDE',
       #'VENUE_LONGITUDE', 'VENUE_ZIP_CODE', 'VENUE_TIMEZONE', 'ATTRACTION_URL',
       #'VENUE_URL', 'PRIMARY_EVENT_URL', 'RESALE_EVENT_URL', 'PRESALE_NAME',
       #'PRESALE_DATETIME_RANGE', 'LEGACY_EVENT_ID', 'LEGACY_VENUE_ID',
       #'LEGACY_ATTRACTION_ID', 'PRESALE_NAME.1', 'PRESALE_DESCRIPTION',
       #'PRESALE_START_DATETIME', 'PRESALE_END_DATETIME', 'SOURCE',
       #'CLASSIFICATION_TYPE', 'CLASSIFICATION_SUB_TYPE', 'PROMOTER_ID',
       #'PROMOTER_NAME', 'CLASSIFICATION_SEGMENT_ID', 'CLASSIFICATION_GENRE_ID',
       #'CLASSIFICATION_SUB_GENRE_ID', 'CLASSIFICATION_TYPE_ID',
       #'CLASSIFICATION_SUB_TYPE_ID', 'ATTRACTION_CLASSIFICATION_SEGMENT_ID',
       #'ATTRACTION_CLASSIFICATION_SEGMENT',
       #'ATTRACTION_CLASSIFICATION_GENRE_ID', 'ATTRACTION_CLASSIFICATION_GENRE',
       #'ATTRACTION_CLASSIFICATION_SUB_GENRE_ID',
       #'ATTRACTION_CLASSIFICATION_SUB_GENRE',
       #'ATTRACTION_CLASSIFICATION_TYPE_ID', 'ATTRACTION_CLASSIFICATION_TYPE',
       #'ATTRACTION_CLASSIFICATION_SUB_TYPE_ID',
       #'ATTRACTION_CLASSIFICATION_SUB_TYPE', 'MIN_PRICE_WITH_FEES',
       #'MAX_PRICE_WITH_FEES', 'TRANSACTABLE', 'HOT_EVENT',
       #'ACCESSIBLE_SEATING_DETAIL', 'ADA_PHONE', 'ADA_CUSTOM_COPY',
       #'ADA_HOURS', 'ACCESSIBILITY_INFO', 'API_ONSALE_START_DATETIME',
       #'PLEASE_NOTE', 'IMPORTANT_INFORMATION', 'EVENT_END_LOCAL_DATE',

df.head()

,EVENT_ID,EVENT_NAME,EVENT_START_LOCAL_DATE,MAX_PRICE,VENUE_NAME,VENUE_STATE_CODE
0,rZ7HnEZ1AfF6aK,Tonight at the Improv!,2025-03-01,29.34,Hollywood Improv (The Main Room),CA
1,rZ7HnEZ1AfF6aN,Tonight at the Improv!,2025-03-08,29.34,Hollywood Improv (The Main Room),CA
2,1ApZkFMGkdiw0WO,Kneecap,2025-10-03,39.50,Mercury Ballroom,KY
3,rZ7HnEZ1AfF6aS,Tonight at the Improv!,2025-03-29,29.34,Hollywood Improv (The Main Room),CA
4,rZ7HnEZ1AfF6ad,Tonight at the Improv!,2025-03-07,19.04,Hollywood Improv (The Main Room),CA

In [276]:
# double-check data types
df.dtypes

EVENT_ID                   object
EVENT_NAME                 object
EVENT_START_LOCAL_DATE     object
MAX_PRICE                 float64
VENUE_NAME                 object
VENUE_STATE_CODE           object
dtype: object

In [277]:
# Rename columns
df = df.rename(columns={'EVENT_NAME': 'EVENT',
                        'EVENT_START_LOCAL_DATE': 'DATE',
                        'VENUE_NAME': 'VENUE',
                        'VENUE_STATE_CODE': 'STATE'})

df.head()

,EVENT_ID,EVENT,DATE,MAX_PRICE,VENUE,STATE
0,rZ7HnEZ1AfF6aK,Tonight at the Improv!,2025-03-01,29.34,Hollywood Improv (The Main Room),CA
1,rZ7HnEZ1AfF6aN,Tonight at the Improv!,2025-03-08,29.34,Hollywood Improv (The Main Room),CA
2,1ApZkFMGkdiw0WO,Kneecap,2025-10-03,39.50,Mercury Ballroom,KY
3,rZ7HnEZ1AfF6aS,Tonight at the Improv!,2025-03-29,29.34,Hollywood Improv (The Main Room),CA
4,rZ7HnEZ1AfF6ad,Tonight at the Improv!,2025-03-07,19.04,Hollywood Improv (The Main Room),CA

In [278]:
# change DATE dtype to datetime format
df["DATE"] = pd.to_datetime(df["DATE"])

In [279]:
df["DATE"]

0        2025-03-01
1        2025-03-08
2        2025-10-03
3        2025-03-29
4        2025-03-07
            ...
100708   2025-03-05
100709   2025-03-03
100710   2025-03-15
100711   2025-04-19
100712   2025-09-14
Name: DATE, Length: 100713, dtype: datetime64[ns]

In [280]:
# re-check data types
df.dtypes

EVENT_ID             object
EVENT                object
DATE         datetime64[ns]
MAX_PRICE           float64
VENUE                object
STATE                object
dtype: object

In [281]:
# check for null values
df.isna().sum()

EVENT_ID         0
EVENT            0
DATE           797
MAX_PRICE    42465
VENUE         6022
STATE           15
dtype: int64

In [282]:
# check for duplicates
df.loc[df.duplicated()]

Empty DataFrame
Columns: [EVENT_ID, EVENT, DATE, MAX_PRICE, VENUE, STATE]
Index: []

In [283]:
df.duplicated(subset=["EVENT_ID"])

0         False
1         False
2         False
3         False
4         False
          ...
100708    False
100709    False
100710    False
100711    False
100712    False
Length: 100713, dtype: bool

In [284]:
df.duplicated(subset=["EVENT"])

df.head(10)

,EVENT_ID,EVENT,DATE,MAX_PRICE,VENUE,STATE
0,rZ7HnEZ1AfF6aK,Tonight at the Improv!,2025-03-01,29.34,Hollywood Improv (The Main Room),CA
1,rZ7HnEZ1AfF6aN,Tonight at the Improv!,2025-03-08,29.34,Hollywood Improv (The Main Room),CA
2,1ApZkFMGkdiw0WO,Kneecap,2025-10-03,39.50,Mercury Ballroom,KY
3,rZ7HnEZ1AfF6aS,Tonight at the Improv!,2025-03-29,29.34,Hollywood Improv (The Main Room),CA
4,rZ7HnEZ1AfF6ad,Tonight at the Improv!,2025-03-07,19.04,Hollywood Improv (The Main Room),CA
5,G5ezZb8MgIPuh,"Cirque du Soleil : ""O""",2025-05-10,276.14,'O' Theatre at Bellagio Las Vegas,NV
6,1avjZbx8ouIZd271,The Mentalist,2025-08-25,59.98,V Theater at Planet Hollywood Inside the Mirac...,NV
7,vv1keZv-4YGA1U7Bv,Gutfeld Live '25 Featuring Greg Gutfeld & spec...,2025-06-07,89.50,Van Andel Arena,MI
8,k7vGFb8zt7yQJ,Irish Celebration Starring Andy Cooney,2025-03-02,79.50,Flagstar at Westbury Music Fair,NY
9,15vjZbx8KayCZ,The Mentalist,2025-11-07,59.98,V Theater at Planet Hollywood Inside the Mirac...,NV

In [285]:
df.duplicated(subset=["DATE"])

df.head(20)

,EVENT_ID,EVENT,DATE,MAX_PRICE,VENUE,STATE
0,rZ7HnEZ1AfF6aK,Tonight at the Improv!,2025-03-01,29.34,Hollywood Improv (The Main Room),CA
1,rZ7HnEZ1AfF6aN,Tonight at the Improv!,2025-03-08,29.34,Hollywood Improv (The Main Room),CA
2,1ApZkFMGkdiw0WO,Kneecap,2025-10-03,39.50,Mercury Ballroom,KY
3,rZ7HnEZ1AfF6aS,Tonight at the Improv!,2025-03-29,29.34,Hollywood Improv (The Main Room),CA
4,rZ7HnEZ1AfF6ad,Tonight at the Improv!,2025-03-07,19.04,Hollywood Improv (The Main Room),CA
5,G5ezZb8MgIPuh,"Cirque du Soleil : ""O""",2025-05-10,276.14,'O' Theatre at Bellagio Las Vegas,NV
6,1avjZbx8ouIZd271,The Mentalist,2025-08-25,59.98,V Theater at Planet Hollywood Inside the Mirac...,NV
7,vv1keZv-4YGA1U7Bv,Gutfeld Live '25 Featuring Greg Gutfeld & spec...,2025-06-07,89.50,Van Andel Arena,MI
8,k7vGFb8zt7yQJ,Irish Celebration Starring Andy Cooney,2025-03-02,79.50,Flagstar at Westbury Music Fair,NY
9,15vjZbx8KayCZ,The Mentalist,2025-11-07,59.98,V Theater at Planet Hollywood Inside the Mirac...,NV
10,vvG1VZb41CZdEo,bbno$: it's pronounced baby no money,2025-03-01,22.50,The Ritz Ybor,FL
11,k7vGFb45tn6T5,Jordana,2025-02-22,20.00,Bowery Ballroom,NY
12,Z7r9jZ1A78SQo,Salonen & Bluebeard's Castle,2025-02-08,NaN,Symphony Center-IL,IL
13,1kGZv-G9GACN322,Singfeld! A Musical About Nothing!,2025-03-23,47.50,The Theater Center,NY
14,G5dIZbxha3euU,Chaparelle,2025-04-04,25.00,Scoot Inn,TX
15,16vjZbx8ZG7M92V,Zombie Burlesque,2025-04-09,79.98,V Theater at Planet Hollywood Inside the Mirac...,NV
16,1Ad0ZbpGkmd0Z0N,Vicki Barbolak At Jimmy Kimmel's Comedy Club,2025-02-18,55.44,Jimmy Kimmel's Comedy Club,NV
17,rZ7HnEZ1AfF6ZK,Ace Frehley,2025-06-15,1238.50,Whisky A Go Go,CA
18,rZ7HnEZ1AfF6ZS,Laurel Street | Alex Crossland,2025-02-14,13.61,Berlin,NY
19,1AeFZboGkR49eJs,BFA Dance Showcase,2025-02-22,7.00,McGuire Pavilion Black Box Theatre,FL